@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.Font1 {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
}

.Titles{
    position: relative;
}

.Titles::before{
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
    background-color: black;
    border-radius: 50px;
}